@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*font-family: 'VT323', monospace;*/

body{
    font-family: 'VT323', monospace;
    margin: 0px;
    padding: 0px;
}

.header{
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
    text-align: center;
    color: white;
}

#hn{
    font-size: 60px;
}

.menu{
    text-align:start;
    width: 80%;
    color: white;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding: 0px 20px;
    font-size: 22px;
}


.hero{
    height: 500px;
    background: url(images/2.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-intro{
    text-align: center;
}

#intro{
    font-size: 60px;
}

#introp{
    font-size: 22px;
}

#readmore{
    font-size: 18px;
    font-family: 'VT323', monospace;
    padding: 5px 15px;
    border-radius: 20px;
}

.skill{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper{
    display: flex;
    margin: 50px 0px 0px;
}

.lower{
    display: flex;
    margin: 0px 0px 50px;
}

.hexa{
    background-color: aliceblue;
    text-align: center;
    font-size: 14px;
    height: 125px;
    width: 150px;
    margin: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: all .2s ease-in-out; 
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexa:hover{
    transform: scale(1.1);
    border-bottom: 5px solid red;
}

